.page{
    min-height: 100vh;
    background-image: url(./../../images//blue2.jpg);
    background-color: beige;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    text-rendering: optimizeLegibility;
}