@import './root.css';

.letter {
    position: absolute;
    border: 2px solid yellow;
    width: calc(var(--letterScaleH)*var(--letterHeight));
    height: calc(var(--letterScaleH)*var(--letterHeight));
    margin: 0 auto;
    opacity: .5;
    background: #93ce8a;
    z-index: 5;
    bottom: 1%;
    /* left: 4.65%; */
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    visibility: visible;
    transition: visibility 2s ease-in-out;
}

.close.letter{
    /* transform: scale(0.5, 0.5); */
    visibility: hidden;
    transition: visibility 0.1s ease-in-out;
}

.letter1{
    background-color: blue;
    margin: auto;
    position: absolute;
    left: 50%;
    width: var(--letterWidth);
    height: var(--letterHeight);
    content: "";
    opacity: 0.5;
    border: 2px solid rgb(134, 140, 175);
    visibility: visible;
    /* bottom: calc(5%*2.5); */
    /* transform: translateX(-50%) translateY(5%); */
    /* transform: translateX(-50%) translateY(-100%); */
    
    
    /* transform: scale(var(--letterScaleW), var(--letterScaleH)) translateX(-5vw) translateY(-2vw);
    z-index: 8; */

    transform: translateX(-50%) translateY(5%);
    z-index: 6;
    cursor: pointer;

    /* transition: transform 2.8s ease-in-out, opacity .8s ease-in-out; */
}


/* в конверте
 transform: translateX(-50%) translateY(5%);
  z-index: 6;
*/

/* открытый вышел
   transform: scale(var(--letterScaleW), var(--letterScaleH)) translateX(-5vw) translateY(-2vw);
    z-index: 8;
*/

.close-letter.letter1{
    animation: close 2s linear forwards;
}

.open-letter.letter1{
    animation: open 2s linear forwards;
}

@keyframes open {
    0%{
        z-index: 6;
        transform: translateX(-50%) translateY(5%);
        transition: transform 2s ease;
    }
    40%{
        z-index: 6;
        transform: translateX(-50%) translateY(-100%);
    }
    55%{
        z-index: 8;
    }
    99%{
        z-index: 8;
        transform: scale(var(--letterScaleW), var(--letterScaleH)) translateX(-5vw) translateY(-2vw);
    }
    100%{
        transform: scale(var(--letterScaleW), var(--letterScaleH)) translateX(-5vw) translateY(-2vw);
        opacity: 0.2;
        transition: opacity 0.1s ease;
    }
}
/* 
@keyframes close {
       100%{
        z-index: 6;
        transform: translateX(-50%) translateY(5%);
        transition: transform 2s ease;
    }
    99%{
        z-index: 6;
        transform: translateX(-50%) translateY(-100%);
    }
    
    40%{
        z-index: 8;
        transform: scale(var(--letterScaleW), var(--letterScaleH)) translateX(-5vw) translateY(-2vw);
    }
    0%{
        transform: scale(var(--letterScaleW), var(--letterScaleH)) translateX(-5vw) translateY(-2vw);
        opacity: 0.2;
        transition: opacity 0.1s ease;
    }
} */



.shake.letter1{
    z-index: 6;
}

.shake {
    /* cursor: pointer; */
    animation: wobble-vertical-left 3.5s linear both infinite;
  }
  
  @keyframes wobble-vertical-left {
    0%,
    60% {
        transform: translateX(-50%) translateY(5%);
    }
  
    10% {
        transform: translateX(-50%) translateY(-5%) rotate(-4deg)
    }
  
    20% {
        transform: translateX(-50%) translateY(1.5%) rotate(4deg)
    }
  
    30% {
        transform: translateX(-50%) translateY(-1.5%) rotate(-2.6deg)
    }
  
    40% {
        transform: translateX(-50%)  translateY(0.9%) rotate(3.4deg)
    }
  
    50% {
        transform: translateX(-50%) translateY(-0.6%) rotate(-1.8deg)
    }
  } 