.letter-animation{
    background-color: rgb(151, 44, 137);
    margin: auto;
    position: absolute;
    left: 50%;
    width: var(--letterHeight);
    height: var(--letterHeight);
    content: "";
    opacity: 0.5;
    border: 2px solid rgb(134, 140, 175);
    visibility: visible;

    transform: translateX(-50%) translateY(5%);
    z-index: 6;
    cursor: pointer;

    /* transition: transform 2.8s ease-in-out, opacity .8s ease-in-out; */
}


/* в конверте
 transform: translateX(-50%) translateY(5%);
  z-index: 6;
*/

/* открытый вышел
   transform: scale(var(--letterScaleW), var(--letterScaleH)) translateX(-5vw) translateY(-2vw);
    z-index: 8;
*/

.close-letter.letter-animation{
    animation: close 2s linear forwards;
}

.open-letter.letter-animation{
    animation: open 2s linear forwards;
}

@keyframes open {
    0%{
        z-index: 6;
        transform: translateX(-50%) translateY(5%);
        transition: transform 2s ease;
    }
    40%{
        z-index: 6;
        transform: translateX(-50%) translateY(-100%);
    }
    55%{
        z-index: 8;
    }
    99%{
        z-index: 8;
        transform: scale(var(--letterScaleH), var(--letterScaleH)) translateX(-21%) translateY(-14%);
    }
    100%{
        transform: scale(var(--letterScaleH), var(--letterScaleH)) translateX(-21%) translateY(-14%);
        opacity: 0.2;
        transition: opacity 0.1s ease;
    }
}

@keyframes close {
    100%{
        z-index: 6;
        transform: translateX(-50%) translateY(5%);
        transition: transform 2s ease;
    }
    60%{
        z-index: 6;
        transform: translateX(-50%) translateY(-100%);
    }
    45%{
        z-index: 8;
    }
    1%{
        z-index: 8;
        transform: scale(var(--letterScaleH), var(--letterScaleH)) translateX(-21%) translateY(-14%);
    }
    0%{
        transform: scale(var(--letterScaleH), var(--letterScaleH)) translateX(-21%) translateY(-14%);
        opacity: 0.2;
        transition: opacity 0.1s ease;
    }
}